@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    /* PADRÃO */
    --botao-config: #836b62;
    --botao-config-hover: #574944;
    --fundo-padrao: #544a4a;
    --menu: #605e5e;

    /* FUNDO ESCURO*/
    --texto-escuro: #fff;
    --fundo-escuro: #000;
    --hover-escuro: rgb(214, 207, 207);
    --botao-escuro: #C0C0C0;
    --botao-hover-escuro: #E5E4E2;
    --hover-abas-escuro:#8f7d7d;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'IBM Plex Sans', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--fundo-padrao);
    overflow: hidden;
}

#menu , #menu.claro {
    left: -50vw;
    width: 20dvw;
    height: 100dvh;
    background-color: var(--menu);
    position: fixed;
    top: 0;
    padding: 20px;
    z-index: 3;
    transition: 0.4s cubic-bezier(.31,.47,.72,1);
}

#menu[data-ativo='true'] {
    left: 0;
}

/*substituir img pela foto do estudante*/
#menu img {
    width: 100%;
    height: 30%;
    padding-bottom: 20px;
    padding-top: 10px;
}

#menu ul li {
    border-radius: 10px;
}

#menu ul li:hover {
    background-color: var(--hover-abas-escuro);
    cursor: pointer;
}

#menu.claro ul li:hover {
    background-color: var(--hover-claro);
}

#menu ul li a {
    color: var(--texto-claro);
}

#menu ul li a:hover {
    color: var(--hover-escuro);
    filter: brightness(500%);
}

#menu  ul li a i {
    padding: 0 5px;
}

#fundo {
    width: 100vw;
    height: 100vh;
    z-index: 2;
    transition: 0.35s ease-in-out;
}

main {
    margin: 10px 0 0 30px;
}

#fundo[data-ativo='true'] {
    filter: opacity(50%);
    transition: 0.4s ease-in-out;
}

.configuracao{
    margin: 0 0 10px 0;
    color: var(--texto-escuro);
}

.titulo {
    cursor: default;
}

.descricao {
    cursor: default;
}

.botao-config {
    position: relative;
    left: 1.6rem;
    background-color: var(--botao-config);
    border: solid 2px;
    padding: 0.2rem;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.1s ease-in;
    color: var(--texto)
}

.botao-config:hover {
    background-color: var(--botao-config-hover);
}

#botao-menu {
    position: fixed;
    left: 1.5%;
    top: 47%;
    width: 50px;
    height: 50px;
    background-color: var(--botao-escuro);
    border: none;
    border-radius: 100px;
    font-size: 23px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    filter: opacity(40%);
}


#botao-menu:hover {
    background-color: var(--botao-hover-escuro);
    width: 55px;
    height: 55px;
    left: 1.38%;
    top: 46.7%;
}

/*apenas na versõa teste*/
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3.5vh;
    background-color: whitesmoke;
    z-index: 6;
}

.rodape {
    display: flex;
    justify-content: center;
    z-index: 6;
    font-size: 60%;
}