@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    width: 420px;
    background-color: transparent;
    border: 3px solid rgba(0, 0, 0, .4);
    color: black;
    border-radius: 16px;
    padding: 30px 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

main h1 {
    font-size: 3rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: default;
}

.input {
    position: relative;
    width: 100%;
    height: 30px;
    margin: 30px 0;
}

.input input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    padding: 20px 20px 20px 20px;
    border: 1.5px solid rgba(0, 0, 0, .3);
    font-size: 1.1rem;
    border-radius: 6px;
}

.input input::placeholder {
    color: rgba(0, 0, 0, .4);
}

.input i {
    position: absolute;
    top: 50%;
    right: 30px;
    font-size: 1rem;
}

.senha {
    display: flex;
    justify-content: space-between;
    margin: -15px 0 20px;
}

.senha label input {
    accent-color: #fff;
    margin-right: 3px; 
    cursor: pointer;
}

.senha a {
    text-decoration: none;
    color: black;
} 

.senha a:hover {
    text-decoration: underline;
    color:rgba(0, 0, 0, .85)
}

.btn {
    width: 100%;
    height: 30px;
    background-color: #fff;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    margin: 5px 0 10px 0;
}

.cadastro {
    display: flex;
    justify-content: center;;
}

.cadastro p label {
    cursor: default;
}

.cadastro a {
    text-decoration: none;
    color: black;
    margin: 0 0 0 5px;
}

.cadastro a:hover {
    text-decoration: underline;
}